<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="{% url 'movie_list' %}">Movies</a>
  <a href="{% url 'add_person' %}">add Person</a>
    <a href="{% url 'list_person' %}">Persons</a>
    <a href="{% url 'add_category' %}">Add Category</a>
    <a href="{% url 'list_category' %}">Category</a>
    <a href="{% url 'add_movie' %}">Add movie</a>
    <a href="{% url 'movie_list' %}">show movie</a>
    <a href="{% url 'add_studio' %}">Add studio</a>
  <a href="#about">About</a>
</div>